# Ignore the Git history and configuration
.git
.gitignore

**/log
**/target

# Ignore environment variable files which may contain secrets
.env
.env.*

# Ignore specific file types
*.log
*.temp
*.class
**/*.md

# Ignore development/editor-specific files
.vscode
.idea
