## 注: 值的可选项分别为: WARNING, ERROR, ALLOW, 分别表示警告, 异常, 允许
config.stopBubbling = true
## @Accessors注解
lombok.accessors.flagUsage= ERROR
## XxxArgsConstructor: 如@AllArgsConstructor/@NoArgsConstructor/@RequiredArgsConstructor
lombok.anyConstructor.flagUsage = ALLOW
## @NoArgsConstructor注解
lombok.noArgsConstructor.flagUsage = ERROR
## @AllArgsConstructor注解
lombok.allArgsConstructor.flagUsage = ERROR
## @RequiredArgsConstructor注解
lombok.requiredArgsConstructor.flagUsage = ALLOW
## @Builder注解
lombok.builder.flagUsage = ERROR
## @Cleanup注解
lombok.cleanup.flagUsage = ERROR
## @Data注解
lombok.data.flagUsage = ERROR
## @Delegate注解
lombok.delegate.flagUsage = ERROR
## @EqualsAndHashCode注解
lombok.equalsAndHashCode.flagUsage = ERROR
## an experimental feature注解
lombok.experimental.flagUsage = ERROR
## @ExtensionMethod注解
lombok.extensionMethod.flagUsage = ERROR
## @FieldDefaults注解
lombok.fieldDefaults.flagUsage = ERROR
## @FieldNameConstants注解
lombok.fieldNameConstants.flagUsage = ERROR
## @Getter注解
lombok.getter.flagUsage = ALLOW
## @Getter(lazy=true)注解
lombok.getter.lazy.flagUsage = ERROR
## @Helper注解
lombok.helper.flagUsage = ERROR
## @Jacksonized注解
lombok.jacksonized.flagUsage = ERROR
## @CommonsLog注解
lombok.log.apacheCommons.flagUsage = ERROR
## @CustomLog注解
lombok.log.custom.flagUsage = ERROR
## @Flogger注解
lombok.log.flogger.flagUsage = ERROR
## @Log注解
lombok.log.javaUtilLogging.flagUsage = ERROR
## @JBossLog注解
lombok.log.jbosslog.flagUsage = ERROR
## @Log4j注解
lombok.log.log4j.flagUsage = ERROR
## @Log4j2注解
lombok.log.log4j2.flagUsage = ERROR
## @Slf4j注解
lombok.log.slf4j.flagUsage = ALLOW
## @XSlf4j注解
lombok.log.xslf4j.flagUsage = ERROR
## @NonNull注解
lombok.nonNull.flagUsage = ERROR
## 注解中的onX属性, onMethod / onParam / onConstructor
lombok.onX.flagUsage = ERROR
## @Setter注解
lombok.setter.flagUsage = ALLOW
## @SneakyThrows注解
lombok.sneakyThrows.flagUsage = ERROR
## @StandardException注解
lombok.standardException.flagUsage = ERROR
## @SuperBuilder注解
lombok.superBuilder.flagUsage = ERROR
## @Synchronized注解
lombok.synchronized.flagUsage = ERROR
## @ToString注解
lombok.toString.flagUsage = ERROR
## @UtilityClass注解
lombok.utilityClass.flagUsage = ERROR
## 使用val关键字(其实lombok中var为接口)
lombok.val.flagUsage = ERROR
## @Value注解
lombok.value.flagUsage = ERROR
## 使用var关键字(其实lombok中var为接口)
lombok.var.flagUsage = ERROR
## @With注解
lombok.with.flagUsage = ERROR
## @WithBy注解
lombok.withBy.flagUsage = ERROR
