spring:
  datasource:
    username: qiliblog
    password: qiliblog001
    url: jdbc:mysql://localhost:3306/qiliblog?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true


  mail:
    username:  # 邮箱
    password:  # 授权码

logging:
  level:
    com.zqqiliyc: debug
    io.mybatis: debug
    web: info
    #    sql: debug
    #    org.springframework.transaction: debug
    #    org.springframework.jdbc: debug
    #    org.springframework.dao: debug
    org.springframework.security: info
#    org.springframework.aop: trace
#    org.springframework.cglib: trace
mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
