spring:
  datasource:
    username: qiliblog_readwrite
    password: qiliblog@1
    url: jdbc:postgresql://localhost:5432/qiliblog?currentSchema=qiliblog&TimeZone=Asia/Shanghai
    hikari:
      schema: qiliblog

  mail:
    username:  # 邮箱
    password:  # 授权码
  docker:
    compose:
      enabled: false

logging:
  level:
    com.zqqiliyc: debug
    io.mybatis: debug
    web: debug
    sql: debug
    org.springframework.transaction: debug
    org.springframework.security: info
#    org.springframework.aop: trace
#    org.springframework.cglib: trace
mybatis:
  provider:
    schema: qiliblog
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
