spring:
  datasource:
    username: qiliblog_readwrite
    password: qiliblog@1
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:qiliblog}?currentSchema=${DB_SCHEMA:qiliblog}&TimeZone=Asia/Shanghai
    hikari:
      schema: ${DB_SCHEMA:qiliblog}

  mail:
    username:  # 邮箱
    password:  # 授权码
  docker:
    compose:
      enabled: false

logging:
  level:
    com.zqqiliyc: debug
    io.mybatis: debug
    web: debug
    sql: debug
    org.springframework.transaction: debug
    org.springframework.security: info
mybatis:
  provider:
    schema: ${DB_SCHEMA:qiliblog}
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
